<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <title>Resume of Daniel Westerling</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">Daniel Westerling</a></h1>
        
        <img src="https://i.imgur.com/AAMUWYj.png" alt="Logo" />

        <p>I live in Uppsala, Sweden with my two daughters and wife.</p>
        <p>I'm a tech-interested and social person and combining the two skills is my most useful work tool</p>
        <p>
        <p>Phone: (+46)735696870</p>
        <p>Email: daniel@akdr.se</p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
